{% extends "default.html" %}
{% load static %}
{% block 'slider' %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Log In</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<h1>{{msg1}}</h1>
	<div class="container">
	<div class="row">
								<div class="col-md-6">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor.</p>
									<div class="done">
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				Your message has been sent. Thank you!
			</div>
		</div>
									<div class="contact-form">
											
		<form method="post" action="{% url "login_data" %}" id="contactform" class="contact">
            {% csrf_token %}
               
                <div class="form-group has-feedback">
                    <label for="name">Create a username*</label>
                    <input type="text" class="form-control" name="username" placeholder="">
                    <i class="fa fa-user form-control-feedback"></i>
                </div>

                <div class="form-group has-feedback">
                    <label for="password">Password*</label>
                    <input type="password" class="form-control" name="password" placeholder="">
                    <i class="fa fa-pencil form-control-feedback"></i>
                </div>
               
                <button type="submit" class="btn btn-success">Submit</button>
                
                <button type="reset" class="btn btn-danger">Reset</button>
                

            </form>
                
            
        </div>
    </div>
    <div class="col-md-6">

 
	</section>
	{% endblock %}